@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');

body{
    text-align: center;
    background-color: rgb(233, 214, 207);
}
.main{
    margin: 200px  500px 0 500px ;
    background-color: rgb(217, 119, 106);
    border: 5px solid rgb(10, 9, 9);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 50px;
}
img{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(10, 9, 9);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    margin-top: -134px;
}
h1, p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(39, 24, 24);
}
#mainP{
    color: rgb(120, 63, 53);
    font-family: 'Fira Sans', sans-serif;
    font-size: 52px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(167, 1, 78);
}
a:hover{
    text-decoration: underline;
}



