@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');

body{
    text-align: center;
    background-color: rgb(233, 214, 207);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
h1, p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(83, 75, 75);
}
#mainP{
    color: rgb(170, 96, 83);
    font-family: 'Fira Sans', sans-serif;
    font-size: 52px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(167, 1, 78);
}
a:hover{
    text-decoration: underline;
}



