@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');
body{
    background-color: #F3E9FF;
    font-family: 'Fira Sans', sans-serif;
}
header{
    text-align: center;
    margin: 0;
    padding: 0;
}
header> h1{
    font-weight: 700;
    font-size: 48px;
    color: #5831BE;
}
header > img{
    padding: 0 50px;
    width: 260px;
}
